<form [formGroup]="form" (ngSubmit)="onSubmit()" class="sign-form__block">
    <div class="form__element">
        <label for="username" class="form__label">Username / Email</label>
        <input type="text" formControlName="username" class="form__input">
    </div>
    <div class="form__element">
        <label for="password" class="form__label">Password</label>
        <input type="password" formControlName="password" class="form__input">
    </div>
    <div class="form__element sign-form__bottom">
        <button type="submit" class="primary-button">Sign in for Quiz</button>
    </div>
</form>