* {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: $main-light-color;
    min-height: 100vh;
    margin: 0;

    & app-root {
        min-height: 100vh;
    }
}

.layout__container {
    height: 100vh;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 60%;
}