<div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="register-form__element">
            <label for="username" class="register-form__label">Username</label>
            <input type="text" formControlName="username" class="register-form__input">
        </div>
        <div class="register-form__element">
            <label for="email" class="register-form__label">Email</label>
            <input type="email" formControlName="email" class="register-form__input">
        </div>
        <div class="register-form__element">
            <label for="password" class="register-form__label">Password</label>
            <input type="password" formControlName="password" class="register-form__input">
        </div>
        <div class="register-form__element">
            <button type="submit" class="primary-button">Sign up for Quiz</button>
        </div>
    </form>
</div>
