<input type="checkbox" id="menu-icon" />
<label for="menu-icon" class="menu-icon">
	<span></span>
	<span></span>
	<span></span>
</label>

<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a class="navbar__link" href="#">Home</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="#">Profile</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="#">All Quizes</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="#">About Us</a>
        </li>
    </ul>
</nav>
<app-alert></app-alert>
<div class="outer-container">
  <div class="inner-container">
    <div *ngIf="this.isAuthorized === true; then auth_block else unauth_block"></div>
    <ng-template #auth_block>
      <div class="main__top">
        <div class="main__signout-block">
          <app-signout-button></app-signout-button>
        </div>
        <h2 class="main__header">Most popular quizes</h2>
        <div class="main__top-grid-block">
          <div class="main__top-grid-element"></div>
          <div class="main__top-grid-element"></div>
          <div class="main__top-grid-element"></div>
          <div class="main__top-grid-element"></div>
          <div class="main__top-grid-element"></div>
        </div>
      </div>
    </ng-template>
    <ng-template #unauth_block>
    <div></div>
    <app-sign-form></app-sign-form>
    </ng-template>
  </div>
</div>