<input type="checkbox" id="menu-icon" />
<label for="menu-icon" class="menu-icon">
	<span></span>
	<span></span>
	<span></span>
</label>

<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a class="navbar__link" href="#">Home</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="#">Profile</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="#">All Quizes</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="#">About Us</a>
        </li>
    </ul>
</nav>
<app-alert></app-alert>
<div class="outer-container">
  <div class="inner-container">
    <router-outlet></router-outlet>
  </div>
</div>