.home {
    padding: 1rem;

    &__top {
        position: relative;
        display: flex;
        // width: 100%;
    }

    &__sign-form-block {
        position: relative;
        flex-basis: 50%;
        margin-left: 3rem;
        min-width: 22rem;
        height: 34rem;
    }
}