.primary-button {
    outline: none;
    cursor: pointer;
    background-color: $brand-color;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: $text-light-color;
    border: 2px solid transparent;
    border-radius: 3px;
    
    &:hover {
        background-color: $brand-color-darken;
    }
}
