.register-form {
    background-color: $main-dark-color;
    @include box(calc(100% - 6rem));
    margin: 3rem;
    border: 3px solid $brand-color;
    border-radius: 1.3rem;

    &__tabs {
        @include flex-center;
        @include box(100%, 3rem);
        list-style-type: none;
    }

    &__tab {
        @include flex-center;
        cursor: pointer;
        flex-basis: 50%;
        height: 100%;
        border-radius: 1.1rem 1.1rem 0 0;
        font-size: 1.5rem;
        font-weight: 500;
        background-color: $main-light-color;
        color: $text-dark-color;

        &--active {
            background-color: $main-dark-color;
            color: $text-light-color;
            cursor: auto;
        }
    }

    &__element {
        @include flex-column;
        padding: 1rem;
    }

    &__label {
        margin-bottom: 0.3rem;
        color: $text-light-color;
        font-weight: 500;
    }

    &__input {
        outline: none;
        background-color: $main-light-color;
        height: 3rem;
        line-height: 3rem;
        font-size: 2rem;
        padding-left: 1rem;
        font-family: 'Ubuntu', sans-serif;
        color: $text-dark-color;
        border: 2px solid $main-mixed-color;
        border-radius: 3px;
    }
}