.sign-form {
    overflow: hidden;
    height: 100%;

    &__tabs {
        @include flex-center;
        @include box(100%, 3rem);
        list-style-type: none;
        background-color: $main-light-color;
        overflow-y: hidden;
    }

    &__tab {
        @include flex-center;
        cursor: pointer;
        flex-basis: 50%;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 500;
        color: $text-dark-color;

        &--active {
            background-color: $main-dark-color;
            color: $text-light-color;
            cursor: auto;
            box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.34);
        }
    }

    &__block {
        @include flex-column;
        height: calc(100% - 3rem);
    }

    &__bottom {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
}